body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    font-size: 13px;
}

::-ms-clear {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    visibility: visible;
}

::-webkit-scrollbar-thumb:active {
    visibility: visible;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    opacity: 0.6;
    background: #d9d9d9;
}

::-webkit-input-placeholder {
    color: #d0d0d0;
}

p {
    margin-bottom: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.alink {
    cursor: pointer;
}